*__pycache__
matches/*
news/*
statistics/*
Statistics/*
andamento.txt
games.txt
match_*
statistics_*
v2/links_2018
v2/news
v2/links
v2/site
v2/news.json
v2/bd.json
v2/analysis/out.txt
*debug.log
*.json